extends layout

block externalcss
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  style.
    #map { height: 700px; width: 70%; margin: 30px auto 0 auto; }



block content
  h1= title
  p Welcome to #{title}
  a(href='bicicletas/') Bicicletas
  br
  a(href='bicicletas/create') Añadir bicicleta
  br
  a(href='api/bicicletas') API bicicletas
  br
  br
  h1 Mapa
  #map

  script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  script(src='javascripts/map.js')

