doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Add a styles block to redefine in every view
    block cssleaflet  
  body
    block content
