<h1>Product</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>    
        <td>{{product.description}}</td>
    </tr>
    <tr>
        <td><a href="/products/edit/{{product.id}}">Edit</a></td>
    </tr>
</table>