extends ../layout 

block content
    a(href='/') Home
    br
    a(href='/bikes') Listado
    br
    h1 New bike 
    form(action='/bikes/create' method='POST')
        table.table 
            tr 
                td
                    label(for='id') ID:
                td
                    input#id(type='text' name='id')
            tr 
                td
                    label(for='color') Color:
                td
                    input#color(type='text' name='color')
            tr 
                td
                    label(for='model') Model:
                td
                    input#model(type='text' name='model')
            tr 
                td
                    label(for='lat') Location (lat):
                td
                    input#lat(type='text' name='lat')
            tr 
                td
                    label(for='lon') Location (lon):
                td
                    input#lon(type='text' name='lon')
            tr
                td 
                td
                    input.btn(type='submit' value='ADD')