<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Actividad MVC</title>
</head>
<body>
    {{!-- Anything inside an .hbs file will replace the "{{body}}" section --}}
    {{{body}}}
</body>
</html>